@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

:root {
  --primary-color: #ea4c4c;
  --jump-height: -5rem;
}

@keyframes mix {
  0% { transform: scale(1) rotate3d(1.0, 1.0, 1.0, 184deg); }
  12.5% { transform: scale(1.5) rotate3d(1.0, 1.0, 0.5, 500deg); }
  25% { transform: scale(1) rotate3d(1.0, 1.0, 0.0, 100deg); }
  37.5% { transform: scale(1.5) rotate3d(0.6, 0.7, 1.0, -300deg); }
  50% { transform: scale(1) rotate3d(1.0, 0.2, 0.8, 90deg); }
  62.5% { transform: scale(1.5) rotate3d(1.0, 1.0, 1.0, 500deg); }
  75% { transform: scale(1) rotate3d(1.0, 1.0, 1.0, 0deg); }
  100% { transform: scale(1) rotate3d(1.0, 1.0, 1.0, 0deg); }
}

* {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  text-transform: uppercase;
}

h1 {
  font-size: 5rem;
  color: var(--primary-color);
}

h2 {
  font-size: 2.5rem;
}

h3 {
  margin-top: 0.5rem;
  font-size: 1.8rem;
}

h4 {
  font-size: 1.3rem;
  cursor: pointer;
  transition: transform .25s;
}

h4:hover {
  transform: scale(1.5, 1.5);
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.layer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.background-dark {
  background-color: #ddd;
}

.background-light {
  background-color: #eee;
}

.layer-foreground {
  display: flex;
  align-items: center;
}

.col-5, .col-2, .col-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-current-score-wrapper {
  background-color: var(--primary-color);
  text-align: center;
  padding: 0.5rem 2rem;
}

.player-current-score {
  color: #fff;
}

.player-title.active {
  display: flex;
  align-items: center;
  padding-left: 2.3rem;
  font-weight: 400;
}

.player-title.active::after {
  content: '';
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  margin-left: 1.5rem;
  background-color: var(--primary-color);
}

.dice {
  width: 6rem;
  height: 6rem;
  position: relative;
  /*animation: mix 5s;*/
  transform-style: preserve-3d;
  will-change: transform;
}

.dice-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  background-color: #fff;
  box-shadow: 0px 0px 2rem #ddd;
}

.dice-face > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dice-face > .dice-col-center {
  justify-content: center;
}

.dice-face > .dice-col-top {
  justify-content: start;
}

.dice-face > .dice-col-bottom {
  justify-content: end;
}

.dice-face > div > div {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.dice-face-front {
  transform: rotateY(0deg) translateZ(3rem);
}

.dice-face-back {
  transform: rotateY(180deg) translateZ(3rem);
}

.dice-face-top {
  transform: rotateX(90deg) translateZ(3rem);
}

.dice-face-bottom {
  transform: rotateX(-90deg) translateZ(3rem);
}

.dice-face-left {
  transform: rotateY(90deg) translateZ(3rem);
}

.dice-face-right {
  transform: rotateY(-90deg) translateZ(3rem);
}

.menu-down {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}